/*
 * You should write your CSS in this file.
 */
 .title-bar {
  width: 100%;
  height: 100px;
  cursor: pointer;
  font-size: 160%;
  text-align: center;
  background-color: rgb(40, 40, 40);
  font-family: 'Roboto Slab', serif;
}
body {
  background-color: rgb(60, 60, 60);
}
.site-title {
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  color: rgb(120, 20, 200);
  text-align: center;
}

.action-button {
  background-color: rgb(120, 20, 200);
  border: 1px solid rgb(120, 20, 200);
  color: rgb(40, 40, 40);
  width: 195px;
  height: 45px;
  text-align: center;
  text-decoration: none;

  font-size: 30px;
  border-radius: 200px;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
}

.action-button:hover {
  background-color: rgb(92, 15, 155);
  border: 1px solid rgb(92, 15, 155);
  color: rgb(40, 40, 40);
}
