<link rel="stylesheet" href="/user-info/user-info.css">

<div class="new-user">
    <input type="text" name="Username" id="Username" class="username-input-new" placeholder="Username">
    <input type="text" name="First Name" id="First Name" class="name-input" placeholder="First Name">
</div>

<div class="sign-in">
    <input type="text" name="Username" id="Username" class="username-input" placeholder="Username">
</div>
