<link rel="stylesheet" href="/weight-entry/weight-entry.css">
<script src="/weight-entry/weight-entry.js" defer></script>

<div class="entry">
    <div class="weight">Weight: {{weight}}</div>
    <div class="time">Time {{time}}</div>
    <button class="entry-button success">Update</button>
    <button class="entry-button delete">Delete</button>
</div>
