<link rel="stylesheet" href="/weight-entry/weight-entry.css">
<script src="/weight-entry/weight-entry.js"></script>

<div class="weight-entry">
    ORANGE TEXT

    <div id="example-button">Click Me For JS Example</div>
</div>
