<div class="entry">
    <div class="weight">{{weight}}</div>
    <div class="time">{{time}}</div>
    <button class="entry-button success">Update</button>
    <button class="entry-button delete">Delete</button>
</div>
