<link rel="stylesheet" href="/404/404.css">
  <header>
      {{> header}}
  </header>
  <body>

  <h1 class="four-zero-four">404</h1>
  <h1 class="four-zero-four-text">That Page Doesn't Exist</h1>

  </body>
</html>
