<link rel="stylesheet" href="/500/500.css">
  <header>
      {{> header}}
  </header>
  <body>

  <h1 class="five-hundred">500</h1>
  <h1 class="five-hundred-text">Bad Request</h1>

  </body>
</html>
